body {
	background-color: yellow;
	font-family: arial;
}

#big-wrapper {
	background-color: white;
	margin: 60px;
	border: 2px solid grey;
}

#metrics {
	background-color: white
	max-height: 205px;
	margin: 5px;
}

#metrics .left, .right {
	background-color: white;
	display: inline-block;
	width: 380px;
	height: 160px;
}

#image {
	background: url(https://cdn.pixabay.com/photo/2018/06/28/20/58/leaf-3504797_1280.jpg);
	background-size: 70%;
	display: flex;
	justify-content: center;
	height: 280px;
	margin: 15px;
}

img {
	max-width: 200px;
	max-height: 200px;
}

#name-stuff	{
	background-color: white;
	display: flex;
	justify-content: center;
	margin: 6px;
}

#name-stuff button {
	margin: 0 8px;
}

#new-name-box {
	width: 200px;
}

#intActions {
	background-color: white;
	display: flex;
	justify-content: center;
	margin: 6px;
}

#intActions button {
	width: 75px;
	height: 35px;
	margin: 0 12px;
}
